.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.tfvars
*.tfvars.json
*.pem
*.crt
*.key
*.p12
*.pfx
*.jks
*.ovpn
*.agekey
*.sops.yaml
*.sops.yml
*.secret
*.secrets
.env
.env.*
.aws/
.kube/
kubeconfig
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
