.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.tfvars
*.tfvars.json
*.pem
*.crt
*.key
*.p12
*.pfx
*.jks
*.csr
*.srl
*.ovpn
*.agekey
*.sops.yaml
*.sops.yml
*.secret
*.secrets
.local/
.secrets/
.env
.env.*
!.env.example
.aws/
.kube/
kubeconfig
node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
