aws_region               = "us-west-2"
kubeconfig_path          = "/path/to/kubeconfig"
backend_image_repository = "351381968847.dkr.ecr.us-west-2.amazonaws.com/website-backend"
backend_image_tag        = "backend-20260413-212844-k8snode-r1"
mysql_backup_image_repository = "351381968847.dkr.ecr.us-west-2.amazonaws.com/mysql-backup"
mysql_backup_image_tag        = "mysql-backup-20260409-1"
backend_secret_key       = "replace-me"
google_oauth_client_id   = "replace-me"
google_oauth_client_secret = "replace-me"
google_oauth_redirect_uri  = "https://kumquat.info/auth/google/callback"
vonage_account_secret = ""
vonage_sms_signature_secret = ""
vonage_sms_signature_algorithm = "md5hash"
mysql_root_password      = "replace-me"
mysql_app_password       = "replace-me"
mysql_backup_schedule    = "0 3 * * *"
